
body,
h1 {
 color: blue;
 background-color: lightgreen;
text-align: center;
width: 75%;
height: 75%;
border: dotted;
border: 1px black;
font-family: 'Times New Roman', Times, serif;
font-size: medium;
font-weight: bold;
}

p,
li {
color: red;
background-color: lightgreen;
text-align: left;
width: 50%;
height: 50%;
border: solid;
border: 1px black;
font-family: 'Courier New', Courier, monospace;
font-size: small;
font-weight: bold;
}

img {
height: 100px;
width: 150px;
}